.widgetContainer {
    width: 100%;
    margin: 0 0 10px 0;
}

.widgetContainer td.topLeft, .widgetContainer td.bottomLeft, .widgetContainer td.topRight, .widgetContainer td.bottomRight {
	width: 5px;
	height: 5px;
}

.widgetContainer td.middleCenter {
	padding: 5px;
	vertical-align: top;
}